.message.user {
    color: black;
    text-align: right;

}

.message.bot {
    color: green;
    text-align: left;
}

#spinner {
    position: fixed;
    /* スピナーを画面に固定 */
    top: 50%;
    /* 上から50%の位置に配置 */
    left: 40%;
    /* 左から50%の位置sに配置 */
    transform: translate(-50%, -50%);
    /* 自身のサイズの半分だけ左上にずらす（中心に配置） */
    border: 16px solid #f3f3f3;
    /* ボーダーの設定 */
    border-top: 16px solid #3498db;
    /* ボーダートップの設定 */
    border-radius: 50%;
    /* ボーダーを円形に */
    width: 120px;
    /* 幅の設定 */
    height: 120px;
    /* 高さの設定 */
    animation: spin 2s linear infinite;
    /* 回転アニメーションの設定 */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}